

  .dashboard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 50px;
  }
  
  .boxes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .box {
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    background: linear-gradient(90deg, #052650, #0b56b6);
    border-radius: 15px;
    --tw-shadow: 2px 6px 8px 0px #000000;
    --tw-shadow-colored: 2px 6px 8px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .box h2 {
    margin-top: 0;
  }
  
  .charts {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  